.wrapper {
  display: flex;
}
.side-bar {
  background-color: #ebf5f2;
  width: 300px;
  height: 100vh;
}
.side-bar-header {
  height: 100px;
  padding: 0 20px;
  background-color: #ebf5f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-name a{
  font-size: 16px;
  color: #663fd1;
  text-decoration: none;
}
.search-form .search-input {
  width: 30%;
  margin-right: 10px;
}
.search-form .search-btn {
  width: 10%;
}
.create-room a {
  font-size: 10px;
  border: 1px solid lightblue;
  padding: 14px;
  color: deepskyblue;
  text-decoration: none;
}
.rooms {
  background-color: #ebf5f2;
  height: calc(100vh - 100px);
  padding: 0 20px;
}
.chat {
  background-color: #ebf5f2;
  width: calc(100vw - 300px);
}
.chat-header {
  font-size: 300%;
  text-align:center;
  height: 100px;
  padding: 0 40px;
}
.messages {
  background-color: #FAFAFA;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
}
.form {
  background-color: #ebf5f2;
  height: 90px;
  padding: 20px 40px;
}